<h2>login</h2>

<form method="POST" action="/auth/login">
    <label for="auth-email">email</label>
    <input type="email" name="email" id="auth-email">

    <label for="auth-password">password</label>
    <input type=password id="auth-password" name="password">

    <input type="submit" value="login">
</form>