<div class="text">
    <h2>welcome to smatch.gg</h2>
    track your progress on SSBU, view match history, and get an analysis for your top characters.
    <a href="/auth/signup">get started!</a>
</div>