<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSBU stats</title>
</head>
<body>
    <header>
        <h1>SSBU stats</h1>
        <nav>
            <ul>
                <% if (!currentUser) { %>
                    <li><a href="/auth/signup">sign up</a></li>
                    <li><a href="/auth/login">log in</a></li>
                <% } else { %>
                    <li><a href="/profile">profile</a></li>
                    <li><a href="/auth/logout">log out</a></li>
                <% } %>
            </ul>
        </nav>
    </header>

    <%- include('partials/alerts') %>
    <%- body %>
    
</body>
</html>