@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
    background-color: #383838;
    background-image: url(https://i.imgur.com/9irvBmI.jpg);
    font-family: arial;
    color: #f5f5f5;
    font-family: 'Fira Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.sub-container {
    background-color: rgb(256,256,256,0.2);
    width: 500px;
    padding: 50px;
    margin: 20px 0 0 0;
}

.alerts {
    text-align: center;
    margin: 20px 0 0 0;
}

.match-container {
    border: 1px solid rgb(128,128,128,0.7);
    /* background-color: rgb(128,128,128,0.7); */
    margin: 20px 0 0 0;
    padding: 10px;
}

.match-details {
    display: flex;
    justify-content: center;
}

.match-results {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.match-buttons {
    text-align: center;
}

.character-data {
    padding: 20px;
}

.character-data-one {
    display: flex;
}

#character-details {
    font-size: 14px;
    margin: 20px 0 20px 0;
}

.login-block {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

/* img */
.char-show {
    margin: 0 40px 0 0;
}

/* layout ejs -- SSBU stats header */
header {
    background-color: #828282;
    width: 100%;
    padding: 10px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
}

a:link, a:visited, a:hover, a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

h2 {
    margin: 10px 8px 10px 0;
}

.bold {
    font-weight: 900;
}

.uid {
    font-size: 10px;
}

.edit-header {
    display: inline-block;
}

nav {
    text-align: right;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.menu {
    display: inline-block;
    margin: 0 30px 0 0;
}

.text {
    text-align: center;
}

.about-text {
    padding: 10px;
}

.edit-about {
    width: 300px;
    height: 200px;
}

.btn, input {
    /* border: 0x solid white; */
    color: white;
    font-size: 10px;
    background-color: black;
}