@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');

body {
    background-color: #7f7f7f;
    background-image: url(https://i.imgur.com/9irvBmI.jpg);
    color: #f5f5f5;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
}

/* layout ejs -- SSBU stats header */
header {
    background-color: #7f7f7f;
    width: 100%;
    padding: 10px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
}

nav {
    text-align: right;
}

ul {
    padding: 0px;
    margin: 5px 0 0 0;
    list-style-type: none;
}

.menu {
    display: inline-block;
    margin: 0 30px 0 0;
}

.char-index {
    padding: 2px;
}

.container {
    display: flex;
    justify-content: center;
}

.sub-container {
    background-color: rgb(256,256,256,0.1);
    border-radius: 40px;
    width: 500px;
    padding: 50px;
    margin: 20px 0 0 0;
}

h2 {
    font-family: 'Galindo', cursive;
    margin: 10px 8px 10px 0;
}

h3 {
    font-family: 'Galindo', cursive;
    margin: 0;
}

.text {
    text-align: center;
    margin: 0 0 20px 0;
}

.alerts {
    text-align: center;
    margin: 20px 0 0 0;
}

.login-block {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.edit-align, #edit-about-div {
    display: flex;
    justify-content: space-between;
    /* width: 400px; */
    margin: 0 0 10px 0;
}

div[contenteditable] {
    display: flex;
    justify-content: space-between;
    width: 300px;
}


.form-container {
    padding: 10px;
    margin: 10px 0 0 0;
}

.bold {
    color: #9c9c9c;
    font-size: 16px;
}

.percentage {
    text-align: center;
    font-size: 12px;
}

/* styling for match index page */
.match-container {
    border: 1px solid rgb(128,128,128,0.3);
    margin: 20px 0 10px 0;
    padding: 10px;
}

.match-details {
    display: flex;
    justify-content: center;
    margin: 0 0 5px 0;
}

.match-results {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.font {
    font-family: 'Galindo', cursive;
}

/* styling for character index page */
.character-data {
    padding: 20px;
}

.character-data-one {
    display: flex;
}

#character-details {
    font-size: 14px;
    margin: 20px 0 20px 0;
}

/* img */
.char-show {
    margin: 0 40px 0 0;
}

.char-match-index {
    padding: 10px;
}

a:link, a:visited, a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
}

.uid {
    font-size: 10px;
}

.h2-inline {
    display: inline-block;
}

.about-text {
    padding: 10px;
}

.edit-about {
    width: 300px;
    height: 100px;
}

input[contenteditable] {
    width: 300px;
    height: 100px;
}

.btn, input {
    /* border: 0x solid white; */
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 10px;
    background-color: black;
    text-align: center;
}

textarea {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 10px;
    background-color: black;
}

.btn:hover, input:hover, input:focus {
    background-color: white;
    color: black;;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.btn-center {
    text-align: center;
}

select {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
}