<h2>character profiles</h2>

<!-- sorting characters alphabetically -->
<% characterData.sort(function(a, b) { %>
    <% if(a.name < b.name) return -1 %>
    <% if(a.name > b.name) return 1 %>
    <% return 0 %>
<% }) %>

<!-- listing all the characters -->
<ul>
<% characterData.forEach(character=>{ %>
    <li class="char-index">
        <a href="/characters/<%= character.name.toLowerCase() %>"><%= character.name %></a> <img src="<%= character.series.icon %>" width=20>
    </li>
<% }) %>
</ul>