<h2>showing all characters</h2>

<!-- sorting characters alphabetically -->
<% characterData.sort(function(a, b) { %>
    <% if(a.name < b.name) return -1 %>
    <% if(a.name > b.name) return 1 %>
    <% return 0 %>
<% }) %>

<!-- listing all the characters -->
<ul>
<% characterData.forEach(character=>{ %>
    <% let charUrl = character.name.replace(" ", "%20") %>
    <li>
        <%= character.name %>, <a href="/characters/<%= character.name %>">view character page</a>
    </li>
<% }) %>
</ul>

<!-- check why these links don't work -->